/* Global */
*, *::before, *::after {
  box-sizing: border-box; }
body {
	margin: 0;
 	text-align: center;
	background: #ffffff;
	color: #777777;
	font-size: 16px;
	line-height: 1.7;
	font-family: 'Roboto Slab', serif;
}
/* Header */
.splash {
	height: 100vh;
	position: relative;
	background-image: url("/images/home.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
 }
.top-menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 48px;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
}
.navigation li {
	display: inline;
	margin-left: 36px;
}
.navigation li a {
	font-family: Montserrat;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.home {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
}
.home h1 {
	font-family: 'Roboto Slab';
	font-size: 40px;
	font-style: italic;
	color: #ffffff;
	margin: 24px auto;
}
.home h2 {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 75px;
	color: #ffffff;
	margin: 24px auto;
}
.home .btn {
	display: inline-block;
	background-color: #fed136;
	min-width: 240px;
	margin: 36px auto;
	padding: 24px 48px;
	border-radius: 5px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
/* Services */
section {
	margin: 120px 0;
}
.title {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 40px;
	color: #222222;
	margin: 0 auto 18px auto;
}
.subtitle {
	font-family: 'Roboto Slab';
	font-style: italic;
	margin: 0 auto 72px auto;
}
.services-card {
	padding: 0 24px;
}
.services-card i {
	height: 72px;
	width: 72px;
	font-size: 36px;
	line-height: 60px;
	color: #fed136;
	background-color: #ffffff;
	border: 4px solid #fed136;
	border-radius: 50%;
	margin: 0 auto 24px auto;
}
.services-card h4 {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	color: #222222;
	margin: 0 auto 18px auto;
}
.services-card p {
	font-size: 14px;
	margin: 0 auto;
}
/* Portfolio */
.portfolio {
	background-color: #f7f7f7;
	margin-bottom: 0;
}
.portfolio .title {
	margin-top: 120px;
}
.portfolio-card {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
}
.portfolio-card:last-child {
	margin-bottom: 120px;
}
.portfolio-card img {
	background-color: #00ff00;
}
.portfolio-description {
	background-color: #ffffff;
}
.portfolio-description h5 {
	font-family: Montserrat;
	font-size: 18px;
	color: #222222;
	margin: 30px auto 12px auto;
	padding: 0;
}
.portfolio-description p {
	font-size: 14px;
	font-style: italic;
	padding: 0;
	margin: 0 auto 30px auto;
}
/* Footer */
footer {
	margin: 42px auto;
	padding: 0;
}
.copyright {
	font-family: Montserrat;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.social-icons i {
	height: 42px;
	width: 42px;
	font-size: 18px;
	line-height: 42px;
	color: #ffffff;
	background-color: #222222;
	border-radius: 50%;
	margin: 0 6px 0 6px;
}

@media (max-width: 991px) {
	.navigation li {
	display: block;
	text-align: right;
	}
	.home h1 {
	font-size: 30px;
	font-style: italic;
	color: #ffffff;
	margin: 12px auto;
	}
	.home h2 {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 48px;
	color: #ffffff;
	margin: 24px auto;
	}
	.services-card {
	padding-bottom: 48px;
	}
	.copyright {
		margin-bottom: 36px;
	}
}